DB_HOST=mysql.railway.internal
DB_USER=root
DB_PASSWORD=nSlFrArnosxqMwsJSlbrnepqZDHZFDRt
DB_NAME=railway

# JWT
JWT_SECRET=hncc_portal_pranay_2026_super_secret_key

# Gmail SMTP (for sending OTP emails) — use an App Password from https://myaccount.google.com/apppasswords
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=lmacherla123@gmail.com
SMTP_PASS=fprx vlya soxp phyu

# Server
PORT=5001
